<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sistema de Riego
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><strong>Sistema de Riego</strong></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p><a target="_blank" rel="noopener noreferrer" href="http://localhost:8100/dispositivos"><strong>DISPOSITIVOS</strong></a></p>
  </div>
</ion-content>
