<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle del Estado del Dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<!--
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">graficodetalles</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
-->

<ion-content color="primary">
  <div class="item">
    <app-grafico></app-grafico>
  </div>

  <!--
  <div class='container'>
    <app-valvulas></app-valvulas>
    <ion-button [routerLink]="['mediciones']">VER MEDICIONES</ion-button>
    <ion-button [routerLink]="['riegos']" >VER RIEGOS</ion-button>
  </div>
  -->
</ion-content>