<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Actualiza Log de Riegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dispositivos"></ion-back-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-list lines="full">
    <ion-item class="header">
    <!-- esto es el encabezado -->
      <ion-grid>
        <ion-row>
          <ion-col size="5"><h3><strong>Riego en Sensor {{idDispositivo}} actualizado</strong></h3></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>
</ion-content>
