<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Log de Riegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dispositivos"></ion-back-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-list lines="full">
    <ion-item class="header">
    <!-- esto es el encabezado -->
      <ion-grid>
        <ion-row>
          <ion-col size="5"><h3><strong>Sensor {{idDispositivo}}</strong></h3></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <!-- esto es los datos de cada dispositivo -->
    <ion-item *ngFor="let riego of riegos" class="disp">
      <ion-grid>
        <ion-row>
          <ion-col size="5"> <h2><strong>Fecha:</strong></h2>
            <h3>{{ riego.fecha }}</h3><!--Uso de Pipe para formato de fecha-->
            <br><h2><strong>Electrovalvula:</strong></h2>
            <h3>{{ riego.electrovalvulaId }}</h3> 
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
