<ion-header>
  <ion-toolbar>
    <ion-title>
      <strong>Listado de Dispositivos</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-list lines="full">
    <ion-item class="header">
    <!-- esto es el encabezado -->
      <ion-grid>
        <ion-row>
          <ion-col size="2"><h3><strong>Nombre</strong></h3></ion-col>
          <ion-col size="2"><h3><strong>Ubicación</strong></h3></ion-col>
          <ion-col size="2"><h3><strong>Mediciones</strong></h3></ion-col>
          <ion-col size="2"><h3><strong>Log de Riegos</strong></h3></ion-col>
          <ion-col size="2"><h3><strong>Gráfica de Última Medición</strong></h3></ion-col>
          <ion-col size="2"><h3><strong>Válvula</strong></h3></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <!-- esto es los datos de cada dispositivo -->
    <ion-item *ngFor="let dispositivo of dispositivos" class="disp">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <h3>{{ dispositivo.nombre }}</h3>
          </ion-col>
          <ion-col size="2">
            <ion-icon name="wifi-outline"></ion-icon>
            <p class="ubicacion">{{ dispositivo.ubicacion }}</p>
          </ion-col>
          <ion-col size="2">
            <ion-button sombreadodirective shape="round" fill="clear" expand="full" routerLink="/medicion/{{ dispositivo.dispositivoId }}">
              <ion-icon name="log-in-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2">
            <ion-button sombreadodirective shape="round" fill="clear" expand="full" routerLink="/logsriego/{{ dispositivo.dispositivoId }}">
              <ion-icon name="log-in-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2">
            <ion-button sombreadodirective shape="round" fill="clear" expand="full" routerLink="/graficodetalles/{{ dispositivo.dispositivoId }}">
              <ion-icon name="log-in-outline"></ion-icon>
            </ion-button>
          </ion-col>      
          <ion-col size="2">
            <div *ngIf="dispositivo.apertura == 0" > 
              <!--<ion-button shape="round" expand="full" (click)="botonAbrir( dispositivo.dispositivoId )" >ABRIR</ion-button>  (click)="botonAbrir()"-->
              <ion-button sombreadodirective shape="round"expand="full" routerLink="/valvriego/{{ dispositivo.dispositivoId }}">
                ABRIR
              </ion-button>

            </div>
            <div *ngIf="dispositivo.apertura == 1" > 
              <!--<ion-button shape="round" expand="full" (click)="botonCerrar( dispositivo.dispositivoId )" >CERRAR</ion-button>  (click)="botonCerrar()"-->
              <ion-button sombreadodirective shape="round" expand="full" routerLink="/valvriego/{{ dispositivo.dispositivoId }}">
                CERRAR
              </ion-button>
            </div>
          </ion-col>       
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dispositivos</ion-title>
  </ion-toolbar>
  <button (click)="unsubscribe()">Unsub</button>
  <br>
  <button (click)="subscribe()">Sub</button>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dispositivos</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>-->
